<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<!--Thông tin đăng nhập-->
		<add key="AppID" value="64ada95d-2000-4419-b635-b3928ada88af"/>
		<add key="TaxCode" value="0101243150-876"/>
		<add key="UserName" value="testmisa@yahoo.com"/>
		<add key="PassWord" value="123456Aa"/>
		<add key="IS_Save" value="true"/>
		<add key="IS_Code" value="true"/>
		<add key="TOKEN" value=""/>
		<add key="URL_BASE" value="https://testapi.meinvoice.vn/api/v3"/>
		<add key="Number_Einvoice" value="10"/>
	</appSettings>
</configuration>
